
@{
    ViewBag.Title = "MScheduleTask";
  
}
@using (Ajax.BeginForm("ScheduleTaskEvt", "MScheduleTask", 
    new AjaxOptions{
        InsertionMode = InsertionMode.Replace ,
        HttpMethod = "POST",
        UpdateTargetId ="ScheduleTasklist",
        OnBegin = "onBegin", 
        OnComplete = "onComplete",
    }, new { @class = "form-horizontal", enctype = "multipart/form-data" })){
<div class="DNHtable" target_table="MScheduleTask" PageName='@L("ScheduleTask")' fcol="3"></div>
}
<script language="javascript">
    setInterval(function () {
        window.location.reload();
    }, 30000);
</script>