<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="DNHConfig" type=" DTP.Base.Configuration.AppConfig, DTP.Base" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="iWebConnect" connectionString="Data Source=SGPVSQL10,56482;user id=MIS_HR;password=RBVNHRP#2014$;Initial Catalog=MIS_HRApps;Connect Timeout=120" providerName="System.Data.SqlClient"/>-->
    <add name="iWebConnect" connectionString="AYArLav3ejWSvvb5uQqxIRbzIMJMWuQ3bzjsSCItGgI3ySavLgR8oNNgUHZfV4IzBgSn5/QNsxTsNJ2y4QjZN1r1FXWcz0RirTjUdU8MCIzpy4bUz3CXK20LqITn6bQRBCqBY6cS2BnFrgyp/rKcvG8LCcyxIEIWPyQE4xsmltk=" providerName="System.Data.SqlClient" />
    <!--<add name="LVConnection" connectionString="Data Source=SGPVSQL10,56482;user id=MIS_HR;password=RBVNHRP#2014$;Initial Catalog=MIS_HRApps;Connect Timeout=120" providerName="System.Data.SqlClient"/>-->
    <!--<add name="LVConnection" connectionString="HFj6N1AfSfcbgmW5t6947ZmdM6BhXoEHZmuo8W6RYS6n2230FgRjK2aF0dBHAPvcwNIG39dGvDJxfaQRPzTAZToSmApo0YqhfGpy0e84Z08pUVqrXIg3CPkqW7GABrgvNLMdLZaRXJXSxBfle/l/Pg==" providerName="System.Data.SqlClient" />-->
    <add name="LVConnection" connectionString="AYArLav3ejWSvvb5uQqxIRbzIMJMWuQ3bzjsSCItGgI3ySavLgR8oNNgUHZfV4IzBgSn5/QNsxTsNJ2y4QjZN1r1FXWcz0RirTjUdU8MCIzpy4bUz3CXK20LqITn6bQRBCqBY6cS2BnFrgyp/rKcvG8LCcyxIEIWPyQE4xsmltk=" providerName="System.Data.SqlClient" />
    <!--produtionConnection-->
    <add name="HRConnection" connectionString="AYArLav3ejWSvvb5uQqxIRbzIMJMWuQ3bzjsSCItGgI3ySavLgR8oNNgUHZfV4IzBgSn5/QNsxTsNJ2y4QjZN1r1FXWcz0RirTjUdU8MCIzpy4bUz3CXK20LqITn6bQRBCqBY6cS2BnFrgyp/rKcvG8LCcyxIEIWPyQE4xsmltk=" providerName="System.Data.SqlClient" />
    <!--Quality Connection-->
    <!--<add name="HRConnection" connectionString="HFj6N1AfSfcbgmW5t6947ZmdM6BhXoEHZmuo8W6RYS6n2230FgRjK2aF0dBHAPvcwNIG39dGvDJxfaQRPzTAZToSmApo0YqhfGpy0e84Z08pUVqrXIg3CPkqW7GABrgvNLMdLZaRXJXSxBfle/l/Pg==" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="SecurityKey" value="MisApplicationLP@123#" />
  </appSettings>
  <DNHConfig>
    <!-- Web farm support
    Enable "MultipleInstancesEnabled" if you run multiple instances.
    Enable "RunOnAzureWebApps" if you run on Windows Azure Web Apps (not cloud services). -->
    <WebFarms MultipleInstancesEnabled="False" RunOnAzureWebApps="False" />
    <!-- Windows Azure BLOB storage. Specify your connection string, container name, end point for BLOB storage here -->
    <AzureBlobStorage ConnectionString="" ContainerName="" EndPoint="" />
    <!-- Redis support (used by web farms, Azure, etc). Find more about it at https://azure.microsoft.com/en-us/documentation/articles/cache-dotnet-how-to-use-azure-redis-cache/ -->
    <RedisCaching Enabled="false" ConnectionString="localhost" />
    <!-- You can get the latest version of user agent strings at http://browscap.org/ -->
    <!-- Leave "crawlersOnlyDatabasePath" attribute empty if you want to use full version of "browscap.xml" file -->
    <UserAgentStrings databasePath="~/App_Data/browscap.xml" crawlersOnlyDatabasePath="~/App_Data/browscap.crawlersonly.xml" />
    <!-- Set the setting below to "False" if you did not upgrade from one of the previous versions. It can slightly improve performance -->
    <SupportPreviousNopcommerceVersions Enabled="True" />
    <!-- Do not edit this element. For advanced users only -->
    <Installation DisableSampleDataDuringInstallation="False" UseFastInstallationService="False" PluginsIgnoredDuringInstallation="" />
    <UserFolder Folder="~/App_Data/Config/" />
  </DNHConfig>
  <system.web>
    <authentication mode="None" />
    <!--<compilation targetFramework="4.5.1" debug="true">
      <assemblies>
        <add assembly="ifinds.Object.OG"/>
      </assemblies>
    </compilation>-->
    <httpRuntime targetFramework="4.5.2" />
    <trust level="Full" originUrl="" />
    <customErrors mode="Off" />
    <compilation targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
</configuration>
<!--ProjectGuid: {E45D3B26-A93E-4B70-8891-83BF64950EE3}-->