<div class="footer">
    <div class="pull-right">
        Email:  <strong>@L("sys.email")</strong> for more information.
    </div>
    <div>
        <strong>Copyright</strong> @L("sys.company") &copy; @L("sys.year")
    </div>
</div>
