<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--Quan ly section cua cac phan configure cho moi table-->
    <sectionGroup name="DTPDataProviders">
      <section name="bui_AttributeStyleObjPage_MappingProvider" type="daitiphu.DataAccess.Website.Cafebui.DBbui_AttributeStyleObjPage_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="bui_AttributeStyleProvider" type="daitiphu.DataAccess.Website.Cafebui.DBbui_AttributeStyleProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="bui_LandAttributeProvider" type="daitiphu.DataAccess.Website.Cafebui.DBbui_LandAttributeProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="bui_AttributeProvider" type="daitiphu.DataAccess.Website.Cafebui.DBbui_AttributeProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_EventPaymentProvider" type="daitiphu.DataAccess.Event.Post.DBev_EventPaymentProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_User_Food_MappingProvider" type="daitiphu.DataAccess.Event.Food.DBev_User_Food_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_UserList_Event_MappingProvider" type="daitiphu.DataAccess.Event.Post.DBev_UserList_Event_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_UserListProvider" type="daitiphu.DataAccess.Event.User.DBev_UserListProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="Ev_UserList_User_MappingProvider" type="daitiphu.DataAccess.Event.UserList_Mapping.DBEv_UserList_User_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_eventStyleProvider" type="daitiphu.DataAccess.Event.Post.DBev_eventStyleProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_LocationMenuFoodProvider" type="daitiphu.DataAccess.Event.Location.Menu.DBev_LocationMenuFoodProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_LocationMenuProvider" type="daitiphu.DataAccess.Event.Location.Menu.DBev_LocationMenuProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_LocationPictureProvider" type="daitiphu.DataAccess.Event.Location.DBev_LocationPictureProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblLocationProvider" type="daitiphu.DataAccess.Directory.DBtblLocationProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblAreaProvider" type="daitiphu.DataAccess.Directory.DBtblAreaProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblCountryProvider" type="daitiphu.DataAccess.Directory.DBtblCountryProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_LocationStyleProvider" type="daitiphu.DataAccess.Event.Location.DBev_LocationStyleProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_LocationProvider" type="daitiphu.DataAccess.Event.Location.DBev_LocationProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProduct_Spec_MappingProvider" type="daitiphu.DataAccess.Products.DBtblProduct_Spec_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductSyle_MappingProvider" type="daitiphu.DataAccess.Products.DBtblProductSyle_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductTempProvider" type="daitiphu.DataAccess.Products.DBtblProductTempProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductPictureProvider" type="daitiphu.DataAccess.Products.DBtblProductPictureProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="sys_WebTempProvider" type="daitiphu.DataAccess.Template.DBsys_WebTempProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="sys_WebStyleProvider" type="daitiphu.DataAccess.Template.DBsys_WebStyleProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblSettingProvider" type="daitiphu.DataAccess.Configuration.Settings.DBtblSettingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductProvider" type="daitiphu.DataAccess.Products.DBtblProductProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblUserProvider" type="daitiphu.DataAccess.User.DBtblUserProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblLogProvider" type="daitiphu.DataAccess.Audit.DBtblLogProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblUserGroupProvider" type="daitiphu.DataAccess.User.DBtblUserGroupProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblUserFavProvider" type="daitiphu.DataAccess.User.DBtblUserFavProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductStyleProvider" type="daitiphu.DataAccess.Products.DBtblProductStyleProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblLanguageProvider" type="daitiphu.DataAccess.Localization.DBtblLanguageProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblLocaleStringResourceProvider" type="daitiphu.DataAccess.Localization.DBtblLocaleStringResourceProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblUserSessionProvider" type="daitiphu.DataAccess.User.DBtblUserSessionProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblCurrencyProvider" type="daitiphu.DataAccess.Directory.DBtblCurrencyProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductTempStyleProvider" type="daitiphu.DataAccess.Products.DBtblProductTempStyleProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductTempSpec_MappingProvider" type="daitiphu.DataAccess.Products.DBtblProductTempSpec_MappingProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="tblProductSpecProvider" type="daitiphu.DataAccess.Products.DBtblProductSpecProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="ev_eventProvider" type="daitiphu.DataAccess.Event.Post.DBev_eventProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="bui_CountryTypeProvider" type="daitiphu.DataAccess.Website.Cafebui.DBbui_CountryTypeProviderSection, daitiphu.DataAccess" requirePermission="false" />
      <section name="bui_LandscapeProvider" type="daitiphu.DataAccess.Website.Cafebui.DBbui_LandscapeProviderSection, daitiphu.DataAccess" requirePermission="false" />
    </sectionGroup>
    <!--Ket thuc Quan ly section cua cac phan configure cho moi table-->
  </configSections>
  <connectionStrings>
    <!--<add name="iWebConnect" connectionString="Data Source=113.130.127.78,1443\SVR_SPB;user id=admin;password=spbpro2014;Initial Catalog=ERP;Connect Timeout=120" providerName="System.Data.SqlClient" />-->
    <add name="iWebConnect" connectionString="Data Source=192.168.1.22;user id=sa;password=Altech%$#@!;Initial Catalog=mytrip;Connect Timeout=120" providerName="System.Data.SqlClient" />
    <!--<add name="iWebConnect" connectionString="Data Source=.;user id=sa;password=@Cb12345;Initial Catalog=advme;Connect Timeout=120" providerName="System.Data.SqlClient" />-->
   
  </connectionStrings>
  <DTPDataProviders>
    <bui_AttributeStyleObjPage_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Website.Cafebui.SQLDBbui_AttributeStyleObjPage_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </bui_AttributeStyleObjPage_MappingProvider>
    <bui_AttributeStyleProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Website.Cafebui.SQLDBbui_AttributeStyleProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </bui_AttributeStyleProvider>
    <bui_LandAttributeProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Website.Cafebui.SQLDBbui_LandAttributeProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </bui_LandAttributeProvider>
    <bui_AttributeProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Website.Cafebui.SQLDBbui_AttributeProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </bui_AttributeProvider>
    <ev_EventPaymentProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Post.SQLDBev_EventPaymentProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_EventPaymentProvider>
    <ev_User_Food_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Food.SQLDBev_User_Food_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_User_Food_MappingProvider>
    <ev_UserList_Event_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Post.SQLDBev_UserList_Event_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_UserList_Event_MappingProvider>
    <Ev_UserList_User_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.UserList_Mapping.SQLDBEv_UserList_User_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </Ev_UserList_User_MappingProvider>
    <ev_UserListProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.User.SQLDBev_UserListProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_UserListProvider>
    <ev_eventProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Post.SQLDBev_eventProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_eventProvider>
    <ev_eventStyleProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Post.SQLDBev_eventStyleProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_eventStyleProvider>
    <ev_LocationMenuFoodProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Location.Menu.SQLDBev_LocationMenuFoodProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_LocationMenuFoodProvider>
    <ev_LocationMenuProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Location.Menu.SQLDBev_LocationMenuProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_LocationMenuProvider>
    <ev_LocationPictureProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Location.SQLDBev_LocationPictureProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_LocationPictureProvider>
    <tblLocationProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Directory.SQLDBtblLocationProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblLocationProvider>
    <tblAreaProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Directory.SQLDBtblAreaProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblAreaProvider>
    <tblCountryProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Directory.SQLDBtblCountryProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblCountryProvider>
    <ev_LocationStyleProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Location.SQLDBev_LocationStyleProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_LocationStyleProvider>
    <ev_LocationProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Event.Location.SQLDBev_LocationProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </ev_LocationProvider>
    <tblProduct_Spec_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProduct_Spec_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProduct_Spec_MappingProvider>
    <tblProductSyle_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductSyle_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductSyle_MappingProvider>
    <tblProductSpecProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductSpecProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductSpecProvider>
    <tblProductTempSpec_MappingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductTempSpec_MappingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductTempSpec_MappingProvider>
    <tblProductTempProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductTempProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductTempProvider>
    <tblProductTempStyleProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductTempStyleProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductTempStyleProvider>
    <tblProductPictureProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductPictureProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductPictureProvider>
    <sys_WebStyleProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Template.SQLDBsys_WebStyleProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </sys_WebStyleProvider>
    <sys_WebTempProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Template.SQLDBsys_WebTempProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </sys_WebTempProvider>
    <tblCurrencyProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Directory.SQLDBtblCurrencyProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblCurrencyProvider>
    <tblUserSessionProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.User.SQLDBtblUserSessionProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblUserSessionProvider>
    <tblProductStyleProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductStyleProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductStyleProvider>
    <tblUserFavProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.User.SQLDBtblUserFavProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblUserFavProvider>
    <tblUserGroupProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.User.SQLDBtblUserGroupProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblUserGroupProvider>
    <tblSettingProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Configuration.Settings.SQLDBtblSettingProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblSettingProvider>
    <tblProductProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Products.SQLDBtblProductProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblProductProvider>
    <tblUserProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.User.SQLDBtblUserProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblUserProvider>
    <tblLogProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Audit.SQLDBtblLogProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblLogProvider>
    <tblLanguageProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Localization.SQLDBtblLanguageProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblLanguageProvider>
    <tblLocaleStringResourceProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Localization.SQLDBtblLocaleStringResourceProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </tblLocaleStringResourceProvider>
    <bui_CountryTypeProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Website.CafeBui.SQLDBbui_CountryTypeProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </bui_CountryTypeProvider>
    <bui_LandscapeProvider defaultProvider="SQLSettingProvider">
      <providers>
        <add name="SQLSettingProvider" type="daitiphu.DataAccess.SqlServer.Website.Cafebui.SQLDBbui_LandscapeProvider, daitiphu.DataAccess.SqlServer" connectionStringName="iWebConnect" />
      </providers>
    </bui_LandscapeProvider>
  </DTPDataProviders>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5.1">
      <assemblies>
        <add assembly="ifinds.Object.OG" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
    <trust level="Full" originUrl="" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <!--<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
</configuration>
<!--ProjectGuid: {E45D3B26-A93E-4B70-8891-83BF64950EE3}-->