@{
    ViewBag.Title = "T_COm_Master_Org Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("T_COm_Master_OrgEvt", "T_COm_Master_Org",
                                        new AjaxOptions
                                        {
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "POST",
                                            UpdateTargetId = "T_COm_Master_Orglist",
                                            OnBegin = "onBegin",
                                            OnComplete = "onComplete",
                                        }, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    
    <div class="ibox-title">
        <div class="panel-heading">
          
        </div>
    </div>
    <div class="ibox-content">

        <div class="m-b-lg">


            <div class="form-group">
                <label class="col-sm-2 control-label">@L("SelectFile")</label>
                <div class="col-sm-10">
                    <input type="file" id="importT_COm_Master_Orgexcelfile" targetid="#preT_COm_Master_Org" name="importT_COm_Master_Orgexcelfile" class="fileupload" style="display:none;"
                           link="/T_COm_Master_Org/ImportExcelFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                    <button class="btn btn-primary SelectFile" type="button" targetid="importT_COm_Master_Orgexcelfile">@L("SelectFile")</button>
                </div>
            </div>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary list-panel" id="list-panel">
                    <div class="panel-heading list-panel-heading" style="height:44px;">
                        <h3 class="panel-title list-panel-title">@L("T_COm_Master_Org")</h3>
                    </div>
                    <div class="panel-body">
                        <button id="btnT_COm_Master_OrgSave" type="button" class="btn btn-primary btn-sm" link="/T_COm_Master_Org/SaveExcel"><span class="fa fa-save" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-default btn-sm refresh-button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        <hr />
                        <div class="table-responsive">
                            <table id="preT_COm_Master_Org" class="table table-striped table-bordered" data-url='@Url.Action("GetGata", "T_COm_Master_Org")' savebtn="btnT_COm_Master_OrgSave"
                                   arrid="T_COm_Master_Orgarr" key="OrgId" default-search="" allow-search="1" allow-chk="1" style="width:100%"></table>
                            <input type='hidden' value="['OrgId','OrgName','Description','Entity_Id','UnitType_Id','Holder_Id','ParentOrg_Id','Plant_Type','CreatedBy','CreatedDate','ModifiedBy','ModifiedDate','IsActive',]" id='T_COm_Master_Orgarr' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <script src="~/Scripts/model/fnIfind.js"></script>
            
}